better_profanity==0.7.0
faster_whisper==1.2.1
groq==1.4.0
krippendorff==0.8.2
langchain_core==1.4.0
langchain_groq==1.1.2
langdetect==1.0.9
matplotlib==3.10.9
numpy==2.4.6
openai==2.38.0
opencv_python==4.13.0.92
pandas==3.0.3
playwright==1.59.0
plotly==6.7.0
protobuf==7.35.0
pymongo==4.17.0
pyspark==4.1.1
pytesseract==0.3.13
python-dotenv==1.2.2
Requests==2.34.2
scikit_learn==1.8.0
seaborn==0.13.2
spacy==3.8.13
streamlit==1.57.0
textblob==0.20.0
torch==2.11.0
tqdm==4.67.3
whisperx==3.8.6
yt_dlp==2026.3.17
